<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loja-virtual</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        #topo {
            height: 15vh;
            border-radius: 6px;
            margin: 1px;
            text-align: center;
            font-size: large;
            color: firebrick;
            font-family: ;
        }
        #middle_div {
            position: absolute;
            width: 300px;
            height: 200px;
            z-index: 15;
            top: 50%;
            left: 50%;
            margin: -100px 0 0 -150px;
            background: inherit;
        }
    </style>
</head>
<body>
<div id="topo"><h1>Loja Virtual</h1></div>
<div id="middle_div">

    <a href="/admin/produtos-cadastrados" class="btn btn-primary btn-lg btn-block">Area do administrador</a><br/>
    <a href="/cliente" class="btn btn-default btn-lg btn-block">Area do cliente</a>
</div>
</body>
</html>